*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #8198a6;
	color: #fff;
}


.Btn {
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    background: #9fb3bf;
    outline: none;
    border-color: #ffffff;
    border: 3px solid;
    cursor: pointer;
}

#redBtn {
  background-color: red;
  opacity: .3;
}
#grnBtn {
  background-color: green;
  opacity: .3;
}
#bluBtn {
  background-color: blue;
  opacity: .3;
}
#ylwBtn {
  background-color: rgb(215, 198, 13);
  opacity: .3;
}


