*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #8198a6;
	color: #fff;
}


.Btn {
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    background: #9fb3bf;
    outline: none;
    border-color: #ffffff;
    border: 3px solid;
    cursor: pointer;
}

.Hide-Btn 
{
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: .5;
}

#redBtn {
  background-color: red;
}
#grnBtn {
  background-color: green;
}
#bluBtn {
  background-color: blue;
}
#ylwBtn {
  background-color: rgb(215, 198, 13);
}

#statsUI {
    /* display: none; */
}

#controls {
    /* display: none; */
}

#text {
    /* display: none; */
}

#timerNum {
    /* display: none; */
}

#turnName {
    /* display: none; */
}

#winNum {
    /* display: none; */
}



